<div class="p-4">
  <div *ngIf="options?.img || options?.type" class="my-4 text-center">
    <img class="w-16 m-auto" [src]="options.img" alt="Image">
  </div>

  <div *ngIf="options?.main" class="my-4 text-center">
    <ion-text [color]="options.color"><h1 class="text-6xl font-bold">{{ options?.main }}</h1></ion-text>
  </div>

  <div *ngIf="options?.spinner && !options?.img" class="w-24 h-24 text-center flex justify-center items-center">
    <ion-spinner name="crescent" [color]="options.color"></ion-spinner>
  </div>

  <div class="my-4">
    <h2 *ngIf="options?.header" class="text-2xl text-center text-gray-700 font-bold">{{ options.header || '' }}</h2>
    <p *ngIf="options?.message" class="mt-2 text-sm text-center text-gray-500">{{ options.message || '' }}</p>
  </div>

  <ion-button *ngIf="primaryButton" expand="block" shape="round" [color]="options.color" (click)="primaryButton?.handler()">
    {{ primaryButton?.text || '' }}
  </ion-button>

  <div *ngIf="primaryButton && !secondaryButton" class="p-2"></div>

  <ion-button *ngIf="secondaryButton" expand="block" fill="clear" shape="round" [color]="options.color" size="small" (click)="secondaryButton?.handler()">
    {{ secondaryButton?.text || '' }}
  </ion-button>

</div>