<ion-tabs (ionTabsDidChange)="onTabChange()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>